@font-face {
    font-family: 'roboto_monoregular';
    src: url('../../fonts/robotomono-regular-webfont.woff2') format('woff2'),
         url('../../fonts/robotomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "roboto_monoregular";
}

h1 {
  font-family: "roboto_monoregular", monospace;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: "roboto_monoregular", monospace;
  font-size: 50px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, auto) 10px repeat(6, auto) 1fr;
  grid-template-rows: repeat(3, auto);
  pointer-events: none;
}

.container > .prog {
  pointer-events: auto;
  -webkit-transition: 0.5s;
  transition: 0.2s;
  cursor: default;
}

.container:hover > .prog {
  -webkit-transition: 0.5s;
  transition: 0.3s;
  opacity: 1;
}

.container > .artist {
  pointer-events: auto;
  -webkit-transition: 0.5s;
  transition: 0.2s;
  cursor: default;
}

.container:hover > .artist {
  -webkit-transition: 0.5s;
  transition: 0.3s;
  opacity: 1;
}

.crossword {
  opacity: 0.05;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/*
 * start-row / start-col / end-row / end-col
 * */

/*
 * programmer
 */

.prog-before {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

.prog-after {
  grid-area: 3 / 2 / 4 / 3;
}

/*
 * artist
 */
.artist-after {
    grid-area: 3 / 4 / 4 / 5;
}
/*
     * name
     * */

.ryan-r {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
}

.ryan-y {
  grid-area: 2 / 3 / 3 / 4;
}

.ryan-a0 {
  grid-area: 2 / 4 / 3 / 5;
}

.ryan-n {
  grid-area: 2 / 5 / 3 / 6;
}

.ryan-t {
  grid-area: 2 / 7 / 3 / 8;
}

.ryan-h {
  grid-area: 2 / 8 / 3 / 9;
}

.ryan-o {
  grid-area: 2 / 9 / 3 / 10;
}

.ryan-m {
  grid-area: 2 / 10 / 3 / 11;
}

.ryan-a1 {
  grid-area: 2 / 11 / 3 / 12;
}

.ryan-s {
  grid-area: 2 / 12 / 3 / 13;
}
