.container {
  display: grid;
  grid-template-columns:1fr repeat(4, auto) 10px repeat(6, auto) 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
 "brie-b . . . . . . . . . . " 
  " . ryan-r ryan-y ryan-a0 ryan-n . ryan-t ryan-h ryan-o ryan-m ryan-a1 ryan-s . "
  " brie-i . . . . . . . . . . "
  " brie-e . . . . . . . . . . ";
}

.brie:hover {
    color: yellow;
}

.brie:hover~.brie {
    color: yellow;
}

.brie-b {
    grid-area: 1 / 2 / 2 / 3;
}

.brie-i {
    grid-area: 3 / 2 / 4 / 3;
}

.brie-e {
    grid-area: 4 / 2 / 5 / 3;
}

.ryan-r {
  grid-area: 2 / 2 / 3 / 3;
}

.ryan-y {
  grid-area: 2 / 3 / 3 / 4;
}

.ryan-a0 {
  grid-area: 2 / 4 / 3 / 5;
}

.ryan-n {
  grid-area: 2 / 5 / 3 / 6;
}

.ryan-t {
  grid-area: 2 / 7 / 3 / 8;
}

.ryan-h {
  grid-area: 2 / 8 / 3 / 9;
}

.ryan-o {
  grid-area: 2 / 9 / 3 / 10;
}

.ryan-m {
  grid-area: 2 / 10 / 3 / 11;
}

.ryan-a1 {
  grid-area: 2 / 11 / 3 / 12;
}

.ryan-s {
  grid-area: 2 / 12 / 3 / 13;
}
