
nav {
  background: #ffffed;
}
nav ul {
  text-align: right;
  margin: 0 2% 0 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  /*border-left: 1px solid #000;*/
}

nav ul li:hover {
  background: #ccc;
}
/*nav ul li:last-child {
    border-right: 1px solid #000;
}*/

nav ul li a {
  color: #cc5500;
  text-decoration: none;
  box-shadow: none;
  padding: 2px 10px;
}
